<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PhotoBoard">
	
	<select id="photoBoardList" parameterType="Map" resultType="photoDetail">
		select p.photoBoard_id as photoBoard_id, title, saveName, p.member_id as member_id, thumb1, thumb2, hit, p.regdate as regdate, nickname, levelname, count(photoComment_id) as count
		from photoBoard p left outer join photoComment c on p.photoBoard_id=c.photoBoard_id
		left outer join member m on p.member_id=m.member_id
		left outer join level l on l.level_id=m.level_id
		<if test="searching.keyword != null">
			<if test="searching.searchType.equals('title')">where title like CONCAT('%', #{searching.keyword}, '%')</if>
			<if test="searching.searchType.equals('writer')">where nickname like CONCAT('%', #{searching.keyword}, '%')</if>
		</if>
		group by p.photoBoard_id
		order by p.photoBoard_id desc
		limit #{startContent}, #{pageSize}
	</select>
	
	<select id="photoBoardCounts" resultType="int" parameterType="Map">
		select count(photoBoard_id) from photoBoard p
		<if test="keyword != null">
			<if test="searchType.equals('title')">where title like CONCAT('%', #{keyword}, '%')</if>
			<if test="searchType.equals('writer')">,member m where p.member_id = m.member_id and nickname like CONCAT('%', #{keyword}, '%')</if>
		</if>
	</select>
	
	<select id="photoLoad" parameterType="int" resultType="photoDetail">
		select photoBoard_id, title, saveName, p.member_id, thumb1, thumb2, hit, regdate, nickname, levelname
		from photoBoard p, member m, level l
		where p.member_id = m.member_id and m.level_id = l.level_id and photoBoard_id = #{photoBoard_id}
	</select>
	
	<insert id="photoUpload" parameterType="PhotoBoard" useGeneratedKeys="true" keyProperty="photoBoard_id">
		insert into photoBoard(title, saveName, member_id <if test="thumb1 != null">, thumb1</if> <if test="thumb2 != null">, thumb2</if>)
		values(#{title}, #{saveName}, #{member_id} <if test="thumb1 != null">, #{thumb1}</if> <if test="thumb2 != null">, #{thumb2}</if>)
	</insert>
	
	<update id="photoBoardHitUp" parameterType="int">
		update photoBoard set hit = hit + 1
		where photoBoard_id=#{photoBoard_id}
	</update>
	
	<update id="photoEdit" parameterType="PhotoBoard">
		update photoBoard set title=#{title}, thumb1=#{thumb1}, thumb2=#{thumb2} <if test="saveName != null">, saveName=#{saveName}</if>
		where photoBoard_id=#{photoBoard_id}
	</update>
	
	<delete id="photoDelete" parameterType="int">
		delete from photoBoard where photoBoard_id=#{photoBoard_id}
	</delete>
	
	<delete id="photoDeleteByMember_id" parameterType="int">
		delete from photoBoard where member_id=#{member_id}
	</delete>
	
</mapper>